.home {
  .whoIsHe {
    min-width: 777px;
    font-size: 1.1em;

    img {
      max-width: 200px;
    }

    &__why {
      padding-left: 2em;

      h1 {
        text-shadow: 15px -30px 2px rgba(15, 47, 152, 0.08);
      }
    }
  }
}
